.center {
  position: absolute;
  /* text-align: center; */
  left: 40%;
  transition: visibility 1s, opacity 0.5s linear, display 1s;
  transform: translate(-50%, -50%);
}
.switch {
  /* text-align: center; */
  position: absolute;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:after {
  position: absolute;
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  content: "";

  position: absolute;
  height: 17px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.activated_txt {
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  font-weight: bold;
}

input:checked + .slider {
  background-color: #f98012;
}

input:focus + .slider {
  box-shadow: 0 0 1px #a621f3;
}

input:checked + .slider:before {
  font-weight: bold;
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
.label_container {
  border-radius: 30px;
  color: rgb(0, 0, 0);
  display: flex;

  justify-content: center;
  align-items: center;
}
.container {
  border-radius: 30px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_label {
  height: 40px;
  border-radius: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #f98012;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  font-size: 15px;
  width: 200px;
}
.link_label:hover {
  transition: 0.5s;
  cursor: pointer;
  font-weight: 800;
  background-color: #d16d10;
  letter-spacing: 1px;
}

body {
  background-color: rgb(245, 245, 245);
  border-radius: 40px;
}

.down {
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  cursor: pointer;
}

.settingsTab {
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition: max-height 1.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
